
.DS_Store
Java/.DS_Store
.DS_Store
UnitTest NET/.idea/.idea.FigurasNET/.idea/.name
UnitTest NET/.idea/.idea.FigurasNET/.idea/encodings.xml
UnitTest NET/.idea/.idea.FigurasNET/.idea/indexLayout.xml
UnitTest NET/.idea/.idea.FigurasNET/.idea/vcs.xml
