
.DS_Store
Java/.DS_Store
.DS_Store
UnitTest NET/.idea/.idea.FigurasNET/.idea/.name
UnitTest NET/.idea/.idea.FigurasNET/.idea/encodings.xml
UnitTest NET/.idea/.idea.FigurasNET/.idea/indexLayout.xml
UnitTest NET/.idea/.idea.FigurasNET/.idea/vcs.xml
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.json
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.schema.json
Java/MaquinaExpendedora/.idea/cody_history.xml
Java/MaquinaExpendedora/.idea/jsonSchemas.xml
Java/MaquinaExpendedora/.idea/vcs.xml
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.json
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.schema.json
Java/MaquinaExpendedora/.idea/cody_history.xml
Java/MaquinaExpendedora/.idea/vcs.xml
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.json
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.schema.json
Java/MaquinaExpendedora/.idea/cody_history.xml
Java/MaquinaExpendedora/.idea/vcs.xml
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.json
Java/MaquinaExpendedora/.idea/.sourcegraph/cody_settings.schema.json
Java/MaquinaExpendedora/.idea/cody_history.xml
Java/MaquinaExpendedora/.idea/vcs.xml
