:root {
  --color-primario: #2196f3;
  --color-secundario: #f44336;
  --color-fondo: #f0f0f0;
  --fuente-titulo: "Roboto", sans-serif;
  --fuente-texto: "Open Sans", sans-serif;
}

body {
  font-family: var(--fuente-texto);
  margin: 20px;
  text-align: center;
  background-color: var(--color-fondo);
}

h1 {
  font-family: var(--fuente-titulo);
  font-size: 36px;
  color: var(--color-primario);
}

#contador-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  background: linear-gradient(to right, var(--color-primario), var(--color-secundario));
}

#contador {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

#botones {
  margin-left: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}

#boton-sumar {
  background-color: var(--color-primario);
}

#boton-restar {
  background-color: var(--color-secundario);
}

#historial {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista-historial {
  list-style: none;
  padding: 0;
}

#lista-historial li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#estadisticas {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#estadisticas ul {
  list-style: none;
  padding: 0;
}

#estadisticas li {
  margin-bottom: 10px;
}
